.profile-h3 {
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 8px;
  font-family: 'Nunito',sans-serif;

}
.profile-status {
  margin: auto;
  display: block;
  text-align: center;
  margin-top: 8px;
  color: #d0d2d9;
}

.team-profile-row {
  padding: 5rem;
}

.profile-img {
  margin: auto;
  display: block;
}

.team-h1 {
  color: #c0a878;
  font-weight: 300;
  padding:10% 0% 0% 0%;
}

.team-p {
  font-family: 'Nunito',sans-serif;
  color: #a3a3a3;

}
.team-p-desc {
  color: #a3a3a3;
  font-family: 'Nunito',sans-serif;
  margin: 5% -20% 0% -20%;
}

.team-icons {
  color: #d7d7d7;

}

.team-icons-position {
  margin:auto;
  text-align: center;
  padding: 0% 0%;
  font-size: 150%;

}

.pic-placeholder {
  background-color: #e3e3e3;
  border-radius: 100%;
  padding: 40% 50%;
}
