

.nav-history {
text-align: right;
margin-top: 10%;
font-size: 90%;
}

h1.title-header {
  text-align:center;
  color: #c0a878;
  letter-spacing: 1rem;
  margin-top: 10%;
  font-family: 'Noto Serif',sans-serif;
}

p {
  color:#c8c8c8;

}

h4 {
  color: #c0a878;
  font-size: 150%;
  margin-top: 10%;
  font-family: 'Nunito',sans-serif;
}

.bold {
  padding: 3% 10% 3% 10%;
  font-weight: 700;
  text-align: center;
  font-family: 'Nunito',sans-serif;
  font-style: italic;
}
.about-us-info {
  padding: 0% 10% 15% 10%;
  text-align: center;
  font-weight: 300;
  font-family: 'Nunito',sans-serif;
  font-style: italic;
}
