#easy-border {
  border: 2px solid black;
}

#contentContainer01 {
  padding:0% 19.5% 0% 19.5%;
  background-color: #313131;
  /* border: 2px solid red; */
}

#contentContainer02 {
  padding:0% 19.5% 0% 19.5%;
  background: url(https://files.slack.com/files-pri/T44ULKQPL-F9YMDFCP9/background-texture.png);
  /* border: 2px solid red; */
}
 /* REMOVE THIS COMMENT IF YOU WANT TO SEE THE PAGE IMAGE AS A BACKGROUND */
/* #bg { */
    background-image: url("03_contact.jpg");
    position: absolute;
     width: 100%;
     height: 100%;
     background-size: cover;
}

/* module 2 css is below======================================================== */

h3 {
  color: #c0a878;
  font-size: 150%;
}

p {
  color:#959595;
  font-size: 90%;
}

button {
  background-color: #7c7c7c;
  color: #ffffff;
  font-size: 90%;
  padding: 2% 6% 2% 6%;
  margin: 2% 0% 0% 0%;
}
i.body-icons:hover {
  color:#c0a878;
}
body {
    font-family: nunito;
}

i.body-icons {
  font-size: 150%;
  letter-spacing: 10px;
}
p.email-and-phone {
  color:#959595;
  font-size: 90%;
  margin: 0% 0% 0% 0%;
}
input {
  padding: 3% 60% 3% 3%;
  margin:  2% 0% 0% -4%;
  font-size: 95%;
  border-color: #ebebeb;
}
input.message-box {
  padding: 3% 60% 40% 3%;
}
.focus {
  border-color: #c0a878;
  color: #c0a878;
}


.contact-titles {
  color:#c0a878;
  font-size: 12px;
}

.contact-top {
  color: #c8c8c8;
  text-align: center;
  padding: 0% 0% 7% 0%;
  font-style: italic;
  font-family: 'Noto Serif', serif;
}
.nav-history {
  padding-top: 2em;
  text-align: right;
  font-size: 10px;
}

.contact-us {
  font-family: 'Noto Serif', serif;
  letter-spacing: .3em;
  font-size: 30px;
}

#big-empty-box {
  padding: 25% 40% 25% 40%;
  background-color: white;
  margin: 5% 1.3% 4% 1.3%;
  border: 1px solid lightgray;
}
