
#square-button {
  border-radius: 0px;
  border: 1px solid lightgray;
  padding: 5px 20px 5px 20px;
  margin: 2px;
}

#square-button:hover {
  border: 1px solid #c0a878;
  border-bottom: 3px solid #c0a878;
  background-color: white;
  color: #c0a878;
}

.arrows {
  display: inline-block;
  margin-left: 47%;
}

.image-box {
  width: 210px;
  height: 210px;
  background-color: lightgray;
  padding: 70px 35px 70px 35px;
  margin: 15px 0px 15px 0px;
  align-content: center;
}

img {
  margin-left: 30%;
}
