
.box-it {
  padding-top: 48px;
  text-align: center;
  border: 7px solid black;
  margin: 0% -3% 3.75% -5%;
}

.box-it-center {
  padding-top: 48px;
  text-align: center;
  border: 7px solid black;
  margin: 0% -5% 0% -5%;
}

.box-it-right {
  padding-top: 48px;
  text-align: center;
  border: 6px solid black;
  margin: 0% -5% 0% -2%;
}

p.captions {
  color: #c8c8c8;
  padding-top: 7px;
  font-size: 11px;
}
.read-more {
  color: #c8c8c8;
  margin-top:24px;
  margin-right:13px;
  font-size: 12px;
}

#easy-border {
  border: 2px solid black;
}

.top-row {
    border: 2px solid red;
}

#contentContainer {
  margin:71.75% 19.5% 85% 19.5%;

}

 /*REMOVE THIS COMMENT IF YOU WANT TO SEE THE PAGE IMAGE AS A BACKGROUND*/
#bg {
    background-image: url("01_index.jpg");
    position: absolute;
     width: 100%;
     height: 100%;
     background-size: cover;
}
