
body {
  font-family: 'Nunito', sans-serif;
  background-image: url(img/background-texture.png);
  height:100%;
  width:100%;
  background-size: cover;
}

.blue-products {
  color: blue;
  font-weight: 1000;
}

.blue-news {
  color: darkblue;
  font-weight: 1000;
}
.announcements-green {
  color: green;
  font-weight: 1000;
}

.hr-no-margin {
  margin: 3px;
}
.date-img {
  width: 270px;
}
.less-padding {
  padding: 1em;
}


.btn-view-all {
  width: 100%;
  border: 1px solid gray;
  border-radius: 0px;
  margin: 0px 0px 20px 0px;
  color: gray;
  margin-bottom: 20px;
}

.news-announcements {
  margin: 0 1em 1em 0;
}


.preview-text {
  color: #c8c8c8;
  font-size: 12px;
}

.media-heading {
  font-size: 15px;
  color: #313131;
}

.news-blocks {
border: 1px solid lightgray;
margin: 2em;
padding: 1;
background-color: white;
}

#read-more-news-links {
  font-size: 11px;
}

#module04-border {
  margin: 0 19.5% 0 19.5%
}
