


/* NAV STYLES!!! */


.nav-right {
  background-color: #363636;
  padding: 0.5rem;
  padding-right: 30px;
  padding-left: 30px;
}

.nav-img {
  text-align: right;
  padding-top: 20px;
  padding-right: 55px;
}

.lower-nav li a {
  color: #919191;
}

.fa-search {
  padding-left: 10px;
}

.login {
  box-sizing: content-box;
  width: 100px;
  height: 25px;
  padding: 5px;
  padding-left: 13px;
  border: 0.1px solid #4c4c4c;
}

.login i {
  float: right;
  padding-top: 3px;
}

.lang i {
  float: right;
  padding-top: 3px;
}
.lang {
  box-sizing: content-box;
  width: 100px;
  height: 25px;
  padding: 5px;
  padding-left: 13px;
  margin-left: 10px;
  border: 0.1px solid #4c4c4c;
}
.facebook {
  color: gray;
}

.social-icons {
  box-sizing: content-box;
  width: 100px;
  height: 25px;
  padding: 5px;
  padding-left: 15px;
  margin-left: 4px;
  border: 0.1px solid #4c4c4c;
  float: right;
  font-size: 18px;
}

.social-icons i {
  padding: 1px;
}

header li {
  color: gray;
}

li {
  list-style-type: none;
}
.top-row {
  padding-top: 10px;
}
/* END NAV STYLES************************************************************************************************* */
p, h3, h2, body {
  font-family: 'Nunito', sans-serif;
}

.date-jumbo {
font-size: 12px;
}


.thumbnail-heading {
  font-size: 15px;
  color:#313131;
}
.news-jumbo {
  background-color: #313131;
  color:#c8c8c8;
  padding: 1em 0 0 0;
  margin: 0em 0em .5em 0em;
  padding: 2.5em 0em 0em 0em;
  font-size: 20px;

}

.press-play {
  padding-left: 1.2em;
  padding-top: .8em;
  color: gray;
}

#expand {
  padding: 0%;
  border: 0%;
  /* margin: -1%; */

}
.thumbnail-expand {
    display: block;
    /* padding: 4px; */
    /* margin-bottom: 20px; */
    line-height: 1.42857143;
    background-color: #ccc;
    /* border: 1px solid #ddd; */
    border-radius: 0px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    /* width: 191px; */
    height: 150px;
    margin: -1%;
  }

    /* margin-left: -1%; */

.thumbnail-expand-black {
        display: block;
        line-height: 1.42857143;
        background-color: #313131;
        border-radius: 0px;
        -webkit-transition: border .2s ease-in-out;
        -o-transition: border .2s ease-in-out;
        transition: border .2s ease-in-out;
        height: 300px;
        margin: -1%;
        /* margin-top: -1.5em; */
}

.black-box {
  padding: 3em 1em 1em 1em;
}

.image-center {
  display: block;
     margin-left: auto;
     margin-right: auto;
     padding-top: 55px;
}

.caption-tighten {
  padding: 0px 10px 0px 10px;
}
.thumbnail-background {
  background-color: #f7f7f7;
  padding: 0% 1% 1% 1%;
  margin: 0 0 2em 0;
}

.thumbnail-date {
  color: #ccc;
  font-size: 11px;
  font-family: nunito;
}

.panel-date {
  color: #ccc;
  font-size: 8px;
  font-family: nunito;
}

.thumbnail-date-black {
  color: #ccc;
  font-size: 11px;
  font-family: nunito;
  margin-left: 20%;
}


#btn-read-more-gold {
  background-color: #c0a878;
  color: white;
  border-radius: 0px;
  border: 0px;
}

#btn-read-more-gold-black {
  background-color: #c0a878;
  color: white;
  border-radius: 0px;
  border: 0px;
  margin: 20%
}

.hr-thumbnail {
  margin-top: -5px;
}

.thumb-custom {
  color: grey;
  font-family: nunito;
  font-size: 10px;
  font-weight: lighter;
}

.thumb-custom-panel {
  color: grey;
  font-family: nunito;
  font-size: 8px;
  font-weight: lighter;
}

.thumb-custom-black {
  font-size: 12px;
  font-family: 'Playfair Display', serif;
  color: #c8c8c8;
  text-align: center;
}

/* styles for the panel */
#container-thumbnails {
  margin: 0% 19.5% 0% 19.5%
}


#recent-tab {
  background-color: #313131;
  color: white;
  border-top: #c0a878;
}

.recent-tab {
  color:white;
}

.gold-news {
  color: #c0a878;
}

#gold-tab{
  color: #c0a878;
}

#popular-tab {
  border-top: 3px solid #c0a878;
}

#popular-tab, #recent-tab {
  border-radius: 0;
  width: 50%;
  text-align: center;
}

/* FOOTER CSSS "BELOW THIS LINE" ======================================================== */

.tc {
  color: #acacac;
}

.br {
  height: 60px;
  background-color: #3f3f3f;
  padding-top: 1.5rem;
  color: #acacac;
}

.tr {
  height: 250px;
  background-color: #383838;
}

.read-more {
  color: #636363;
}

.read-more i {
  position: relative;
  top: 1.4px;
  left: 10px;
}

.column-2-list li {
  list-style-type: none;
  margin-bottom: 5px;
}

.fa-map-marker-alt,
.glyphicon-earphone,
.fa-telegram-plane,
.fa-compass {
  margin-right: 5px;
}

.footer-icons {
  color: #c0a878;
}

.logo-footer {
  margin-top: 65px;
  margin-left: 30px;
}

.glyphicon-earphone {
  margin-right: 13px;
}

.fa-telegram-plane {
  padding-right: 17px;
}

.fa-compass {
  padding-right: 19px;
}

.con-row {
  margin-bottom: 2px;
}

.bord-bottom {
  border-bottom: 1px solid #464646;
  margin-bottom: 5px;
}

#bottom-row-1 span {
  padding-left: 10px;
  font-weight: 100
}

#bottom-row-1 {
    font-weight: 100;
}
