.date-box {
  box-sizing: content-box;
  color: white;
  background-color: #c0a878;
  border: 8px solid #c0a878;
  position: relative;
}

.details {
  margin-bottom: 18px;
  margin-top: 20px;
}

.news-detail-icons {
  padding-left: 3px;
  padding-right: 3px;
}

.news-text p {
  margin-bottom: 20px;
}

.jumbotron {

  background-color: #4c4c4c;
  height:400px;
  margin-bottom: 0;
  width: 650px;
}