.date-box {
  box-sizing: content-box;
  color: white;
  background-color: #c0a878;
  border: 8px solid #c0a878;
  position: relative;
}

.details {
  margin-bottom: 18px;
  margin-top: 20px;
}

.fa-facebook {
  color: #c0a878;
}

.fa-twitter,
.fa-google-plus-g {
  color: #d7d7d7;
}

i.fab {
  padding-left: 3px;
  padding-right: 3px;
}

.news-text p {
  margin-bottom: 20px;
}

body {
  padding: 19rem;
}
