.background-container {
  height: 300px;
  background-color: #313131;
  padding: 0 19.5% 0 19.5%;
}


.product-header {
    color: #c0a878;
}

.tab-text {
    color: #8b8b8b;
    margin-top: 30px;
    text-align: right;
}
